.wrap {
  position: relative;
}
header {
  margin-bottom: 15px;
  position: relative;
  z-index: 5;
  h2 {
    height: 0;
    @include text-hide;
  }
  @include checkbox;
  input[type="checkbox"] {
    margin-top: 17px;
  }
  .fa-caret-down {
    margin-right: 16px;
    display: inline-block;
    width: 16px;
  }
  .fa-tags {
    margin-right: 646px;
    display: inline-block;
    cursor: pointer;
  }
  .add {
    display: inline-block;
    font-size: 14px;
    width: 192px;
    height: 34px;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    color: white;
    line-height: 18px;
    font-weight: bold;
    padding-top: 8px;
    cursor: pointer;
  }
}
.change {
  position: absolute;
  display: none;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 2px;
  color: white;
  width: 109px;
  padding: 4px 8px;
  left: 66px;
  top: 45px;
  z-index: 33;
}
.header-tag-show .change {
  display: inherit;
}
// table
table {
  width: 940px;
  margin: 0 auto;
  th {
    text-transform: capitalize;
    background: white;
    font-weight: bold;
    font-size: 16px;
    height: 40px;
    box-sizing: border-box;
    padding-top: 8px;
    line-height: 19px;
    // border: 1px solid blue;
  }

  @include checkbox;
  input[type="checkbox"] {
    margin-left: 16px;
    margin-right: 5px;
    margin-top: 36px;
    vertical-align: top;
  }
  input[type="checkbox"]::after {
    border: 0px solid black;
    line-height: 15.5px;
  }
  input[type="checkbox"]:checked::after {
    background: #9b9b9b;
  }
}
@include widthproduct;
tr td {
  box-sizing: border-box;
  vertical-align: top;
  text-align: center;
  // padding: 0px;
  img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }
  p {
    font-size: 14px;
    margin-top: 33px;
    line-height: 21px;
  }
}
.product {
  p {
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
  }
}
.size,
.color,
.inventory {
  box-sizing: border-box;
  border-bottom: 1px solid white;
}
.status {
  position: relative;
}
#status-select {
  box-sizing: border-box;
  // width: 125px;
  height: 34px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background: #7ed321;
  border: 1px solid #7ed321;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  outline: none;
  margin-top: 38px;
  option {
    display: none;
  }
}
.status-list {
  @extend %block-bg;
  width: 135px;
  position: absolute;
  left: 30px;
  top: 75px;
  z-index: 99;
  display: none;
}
.status-list.show {
  display: inherit;
  p {
    text-transform: uppercase;
    box-sizing: border-box;
    height: 34px;
    text-align: center;
    padding-top: 8px;
    margin-top: 0;
    margin-left: 0;
    transition: all 0.8s;
    cursor: pointer;
    &:hover {
      background: black;
      color: white;
    }
  }
}
// add new product
.addwrap {
  margin-bottom: 50px;
}
.addnewproduct {
  margin: 0 auto;
  width: 1024px;
  box-sizing: border-box;
  padding-top: 91px;
  padding-left: 42px;
  padding-right: 42px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 5;
  top: 0;
  display: none;
}
.addnewproduct.show {
  display: inherit;
}
.title {
  color: white;
  box-sizing: border-box;
  padding-top: 19px;
  padding-left: 35px;
  padding-bottom: 17px;
  font-size: 24px;
  line-height: 28px;
  width: 940px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 4px 4px 0 0;
  font-weight: bold;
  // margin-bottom: 30px;
  i {
    margin-left: 613px;
    cursor: pointer;
  }
}
.addwrap {
  box-sizing: border-box;
  padding-top: 30px;
  background: #ffffff;
  width: 940px;
}
.left {
  width: 450px;
  // box-sizing: border-box;
  // padding-top: 30px;
  // background: #ffffff;
  display: inline-block;
  .upload-image {
    width: 394px;
    height: 115px;
    background: #ebebeb;
    color: #757575;
    margin-bottom: 8px;
    margin-left: 30px;
    input {
      display: none;
    }
    i {
      font-size: 48px;
      margin-top: 25px;
      margin-left: 159px;
      cursor: pointer;
    }
    p {
      line-height: 24px;
      font-weight: bold;
      margin-left: 46px;
    }
  }
  .image {
    width: 394px;
    margin-left: 30px;
    img {
      width: 126px;
    }
  }
}
.right {
  box-sizing: border-box;
  width: 485px;
  vertical-align: top;
  display: inline-block;
  .product-description,
  .price {
    font-weight: bold;
    margin-bottom: 8px;
  }
  input[type="text"] {
    width: 456px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    line-height: 24px;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 16px;
    outline: none;
    color: invert(#edf1e5);
    &:focus {
      background: #edf1e5;
    }
  }
  .name {
    height: 38px;
    margin-bottom: 8px;
  }
  .detail {
    height: 172px;
    margin-bottom: 20px;
  }
  .originalbox {
    @include label;
    .discount {
      margin-left: 8px;
    }
    #original,
    #discount {
      display: inline-block;
      width: 98px;
      float: left;
      height: 38px;
    }
  }
  .clear {
    clear: both;
  }
  .specificbox {
    @include label;
    .specification {
      margin-top: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    #size,
    #color,
    #inventory {
      width: 60px;
      height: 38px;
      padding: 0px;
      text-align: center;
      float: left;
      margin-right: 8px;
    }
  }
  input[type="button"] {
    width: 434px;
    box-sizing: border-box;
    background: #000000;
    color: white;
    border: 1px solid #000000;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    line-height: 24px;
    padding: 8px 0;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 30px;
  }
  #save {
    width: 110px;
    background: white;
    color: #757575;
    float: left;
    border: 0px solid #757575;
    margin-left: 215px;
    &:hover {
      background: black;
      color: white;
    }
  }
  #publish {
    width: 110px;
    float: left;
    background: white;
    color: #757575;
    border: 0px solid #757575;
    &:hover {
      background: black;
      color: white;
    }
  }
}
